/* Morpho Admin - Custom Login Styles */

body.login {
    background-color: #f1f1f1 !important;
}
body.login #login form {
    padding: 20px 24px 30px;
}
body.login p.message,
body.login p.custom-message,
body.login #login_error,
body.login a,
body.login p#nav a,
body.login p#backtoblog a,
body.login label {
    color: #444 !important;
}
body.login p.message,
body.login p.custom-message,
body.login #login_error,
body.login p#nav a,
body.login p#backtoblog a {
    font-size: 16px;
}
body.login #login input[type="text"]:focus,
body.login #login input[type="password"]:focus,
body.login #login input[type="checkbox"]:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07) !important;
}
body.login .button {
    background-color: #05a !important;
    color: #fff;
}
body.login p.forgetmenot {
    margin-bottom: 18px !important;
    width: 100%;
}
body.login p.submit > input {
    border-radius: 4px;
    font-size: 17px;
    width: 100%;
}
body.login #nav,
body.login p.custom-message {
    text-align: center !important;
}
body.login p#backtoblog a {
    display: none;
}
body.login #login_error,
body.login .message,
body.login .success {
    /* border-left: none !important; */
    /* background-color: transparent !important; */
    /* box-shadow: none !important; */
    /* text-align: center !important; */
}


/* Hover - Active - Focus effects */

body.login .button:hover,
body.login .button:active,
body.login .button:focus {
    background-color: #06c !important;
    color: #fff !important;
}
.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover {
    color: #06c !important;
}
body.login #login input[type="text"]:focus,
body.login #login input[type="password"]:focus,
body.login #login input[type="checkbox"]:focus {
    border-color: #06c !important;
}
