/* Morpho Admin - Custom Toolbar Styles */

.aquilaFront #wpadminbar {
    height: 50px;
    padding-left: 0px !important;
}
.aquilaFront #aquilaAdminbarIcon {
    display: none;
}
.aquilaFront #wpadminbar .quicklinks a,
.aquilaFront #wpadminbar .ab-item::before {
    height: 50px;
}
.aquilaFront #wpadminbar #wp-toolbar .ab-item::before {
    line-height: 1;
    position: relative;
    top: 8px;
}
.aquilaFront #page-container {
    position: relative;
    top: 50px;
}
body.admin-bar.aquilaFront #main-header.et-fixed-header {
    top: 50px !important;
}
.aquilaFront.et-fb #page-container {
    position: static;
}
html.et-fb-app-frame {
    margin-top: 50px !important;
}
html.et-fb-app-frame #main-content {
    margin-bottom: 100px !important;
}
.aquilaFront #wpadminbar #wp-admin-bar-et-use-visual-builder a:hover,
.aquilaFront #wpadminbar #wp-admin-bar-et-use-visual-builder:hover a {
    background-color: #727980 !important;
}
.aquilaFront #aquilaAdminbarIcon {
    /* background-size: 59px !important; */
}
.aquilaFront #wp-admin-bar-site-name,
.aquilaFront #wp-admin-bar-updates,
.aquilaFront #wp-admin-bar-new-content {
    display: none;
}
.aquilaFront #wpadminbar #wp-toolbar > ul > li > a,
.aquilaFront #wp-admin-bar-root-default > li > a > .ab-label {
    font-size: 16px !important;
    line-height: 50px !important;
    padding: 0 20px;
}
.aquilaFront #wp-admin-bar-morphoadmin-dashboard-link a {
    text-transform: uppercase;
}
.aquilaFront #wp-admin-bar-et-use-visual-builder a:hover {
    background-color: #727980 !important;
}
.aquilaFront #wp-admin-bar-et-use-visual-builder a::before {
    font-family: "ETmodules" !important;
    color: #fff !important;
    font-size: 32px !important;
}
.aquilaFront #wpadminbar #wp-admin-bar-user-info {
    display: none !important;
}
.aquilaFront #wp-admin-bar-user-actions {
    /* padding: 18px !important; */
    /* height: 90px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}
.aquilaFront #wp-admin-bar-user-actions > li {
    margin: 0px !important;
}
.aquilaFront #wp-admin-bar-user-actions > li a {
    /* border: 1px solid; */
    /* text-align: center; */
}
.aquilaFront #wpadminbar ul li .ab-sub-wrapper .ab-submenu {
    background-color: #5e656c;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.aquilaFront #wpadminbar ul li .ab-sub-wrapper .ab-submenu > li > a {
    height: 36px !important;
    line-height: 36px !important;
}
.aquilaFront #wpadminbar .quicklinks .menupop ul li a {
    padding: 0 20px;
}
.aquilaFront #wp-admin-bar-root-default .menupop ul li:hover,
.aquilaFront #wp-admin-bar-user-actions > li a:hover {
    background-color: #727980;
}
